boto3==1.9.95
DateTime==4.3
gensim==3.7.1
grpcio==1.18.0
grpcio-tools==1.18.0
nltk==3.4
numpy==1.16.1
pandas==0.24.1
Pillow==5.4.1
pytesseract==0.2.6
pyyaml==3.13
scikit-learn==0.20.2
scipy==1.2.1
sklearn==0.0

